apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: loki
  namespace: argocd
spec:
  project: default

  sources:
    # Source 1: Loki Helm chart
    - repoURL: https://grafana.github.io/helm-charts
      chart: loki
      targetRevision: 6.6.2
      helm:
        valueFiles:
          - $values/loki/values.yaml

    # Source 2: Git repo containing values.yaml
    - repoURL: https://github.com/lgtmstack-pixel/Grafana.git
      targetRevision: main
      ref: values

  destination:
    server: https://kubernetes.default.svc
    namespace: loki

  syncPolicy:
    automated:
      prune: true
      selfHeal: true


