apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: loki
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/lgtmstack-pixel/Grafana.git
    targetRevision: main
    path: loki
    helm:
      chart: loki
      repoURL: https://grafana.github.io/helm-charts
      valueFiles:
        - values.yaml

  destination:
    server: https://kubernetes.default.svc
    namespace: loki

  syncPolicy:
    automated:
      prune: true
      selfHeal: true

