

apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: loki
  namespace: argocd
spec:
  project: default

  source:
    chart: loki
    repoURL: https://grafana.github.io/helm-charts
    targetRevision: "5.3.0"   # Helm chart version
    helm:
      releaseName: loki
      valuesObject:
        loki:
          auth_enabled: false
        singleBinary:
          enabled: true
          replicas: 1
          nodeSelector:
            kubernetes.io/hostname: k8s-node2
          tolerations:
            - operator: Exists
        persistence:
          enabled: true
          size: 20Gi
        resources:
          requests:
            cpu: 200m
            memory: 512Mi
          limits:
            cpu: 500m
            memory: 1Gi
        canary:
          enabled: false
        gateway:
          enabled: false
        grafanaAgent:
          enabled: false
        grafanaAgentOperator:
          enabled: false
        serviceMonitor:
          enabled: false

  destination:
    server: https://kubernetes.default.svc
    namespace: loki

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
