apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: loki
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/lgtmstack-pixel/Grafana
    targetRevision: main
    path: loki
    helm:
      valueFiles:
        - values.yaml
      parameters:
        - name: global.namespace
          value: logging

  destination:
    server: https://kubernetes.default.svc
    namespace: loki

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - PrunePropagationPolicy=foreground
      - PruneLast=true
