loki:
  enabled: true

  commonConfig:
    replication_factor: 1

  auth_enabled: false

  storage:
    type: filesystem

  persistence:
    enabled: true
    size: 20Gi

  nodeSelector:
    kubernetes.io/hostname: k8s-node2

  tolerations:
    - operator: Exists

singleBinary:
  replicas: 1

  nodeSelector:
    kubernetes.io/hostname: k8s-node2

  tolerations:
    - operator: Exists

resources:
  requests:
    cpu: 200m
    memory: 512Mi
  limits:
    cpu: 500m
    memory: 1Gi

