loki:
  auth_enabled: false

  singleBinary:
    enabled: true
    replicas: 1
    nodeSelector:
      kubernetes.io/hostname: k8s-node2
    tolerations:
      - operator: Exists

persistence:
  enabled: true
  size: 20Gi

resources:
  requests:
    cpu: 200m
    memory: 512Mi
  limits:
    cpu: 500m
    memory: 1Gi
