loki:
  loki:
    enabled: true

    auth_enabled: false

    commonConfig:
      replication_factor: 1

    deploymentMode: SingleBinary

    storage:
      type: filesystem
      bucketNames:
        chunks: loki-chunks
        ruler: loki-ruler
        admin: loki-admin

    persistence:
      enabled: true
      size: 20Gi

    singleBinary:
      replicas: 1

      nodeSelector:
        kubernetes.io/hostname: k8s-node2

      tolerations:
        - operator: Exists

    read:
      enabled: false
    write:
      enabled: false
    backend:
      enabled: false

    resources:
      requests:
        cpu: 200m
        memory: 512Mi
      limits:
        cpu: 500m
        memory: 1Gi
