fullnameOverride: blackbox-exporter

image:
  repository: prom/blackbox-exporter
  tag: v0.25.0

kind: DaemonSet

service:
  type: ClusterIP
  port: 9115

config:
  modules:
    tcp_connect:
      prober: tcp
      timeout: 5s

    http_2xx:
      prober: http
      timeout: 5s
      http:
        valid_status_codes: [200, 301, 302]

serviceMonitor:
  enabled: true
  namespace: blackbox
  interval: 15s
  scrapeTimeout: 10s

  relabelings:
    - sourceLabels: [__meta_kubernetes_node_name]
      targetLabel: node_name
