apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: alertmanager-standalone
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/lgtmstack-pixel/Grafana.git
    targetRevision: main
    path: alertmanager  # <-- directory containing your YAML

  destination:
    server: https://kubernetes.default.svc
    namespace: default

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
