apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.alertmanager.name }}-config
  labels:
    app: {{ .Values.alertmanager.name }}
data:
  alertmanager.yml: |
    global:
      resolve_timeout: 5m

    route:
      receiver: "default"

    receivers:
      - name: "default"
