apiVersion: v1
kind: Service
metadata:
  name: alertmanager
  namespace: alertmanager
spec:
  type: NodePort
  selector:
    app: alertmanager
  ports:
    - name: http
      port: 9093
      targetPort: 9093
      nodePort: 30903

