apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ .Values.alertmanager.name }}
  labels:
    app: {{ .Values.alertmanager.name }}
spec:
  serviceName: {{ .Values.alertmanager.name }}
  replicas: {{ .Values.alertmanager.replicas }}
  selector:
    matchLabels:
      app: {{ .Values.alertmanager.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.alertmanager.name }}
    spec:
      serviceAccountName: {{ .Values.alertmanager.name }}
      containers:
        - name: alertmanager
          image: "{{ .Values.alertmanager.image.repository }}:{{ .Values.alertmanager.image.tag }}"
          imagePullPolicy: {{ .Values.alertmanager.image.pullPolicy }}
          args:
            - "--config.file=/etc/alertmanager/alertmanager.yml"
            - "--storage.path=/alertmanager"
          ports:
            - containerPort: 9093
              name: http
          volumeMounts:
            - name: config
              mountPath: /etc/alertmanager
            - name: storage
              mountPath: /alertmanager
          resources:
            {{- toYaml .Values.alertmanager.resources | nindent 12 }}
      volumes:
        - name: config
          configMap:
            name: {{ .Values.alertmanager.name }}-config
  volumeClaimTemplates:
    - metadata:
        name: storage
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: {{ .Values.alertmanager.persistence.size }}
        storageClassName: {{ .Values.alertmanager.persistence.storageClass }}
