apiVersion: v1
kind: Service
metadata:
  name: alertmanager
  namespace: alertmanager
  labels:
    app: alertmanager
spec:
  type: NodePort
  selector:
    app: alertmanager
  ports:
    - name: web
      port: 9093
      targetPort: web
      nodePort: 30903


