replicaCount: 1

image:
  repository: prom/alertmanager
  tag: v0.27.0
  pullPolicy: IfNotPresent

service:
  type: NodePort
  port: 9093
  nodePort: 30900

persistence:
  enabled: true
  size: 2Gi
  storageClass: local-path

alertmanagerConfig:
  global:
    resolve_timeout: 5m
    smtp_smarthost: "smtp.example.com:587"
    smtp_from: "alerts@example.com"
    smtp_auth_username: "alerts@example.com"
    smtp_auth_password: "EMAIL_PASSWORD"

  route:
    receiver: slack-notifications
    group_by: ["alertname", "namespace"]
    group_wait: 30s
    group_interval: 5m
    repeat_interval: 4h

  receivers:
    - name: slack-notifications
      slack_configs:
        - api_url: https://hooks.slack.com/services/T000/B000/XXXX
          channel: "#alerts"
          send_resolved: true

    - name: email-notifications
      email_configs:
        - to: ops@example.com
