alertmanager:
  enabled: true

  replicaCount: 1

  statefulSet:
    enabled: true

  persistence:
    enabled: true
    storageClass: standard
    accessModes:
      - ReadWriteOnce
    size: 2Gi

  service:
    type: NodePort
    port: 9093
    nodePort: 30903
    
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi



  podAnnotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "9093"
