alertmanager:
  name: alertmanager
  replicas: 1

  image:
    repository: alertmanager
    tag: v0.27.0
    pullPolicy: IfNotPresent

  service:
    type: NodePort
    port: 9093
    nodePort: 30903

  persistence:
    enabled: true
    size: 2Gi
    storageClass: local-path   # change if needed

  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 512Mi

