replicas: 1   # Only one replica since it's pinned to one node

image:
  repository: grafana/grafana
  tag: 10.4.2

service:
  type: NodePort
  port: 3000

grafana:
  nodeSelector:
    workload: grafana

  tolerations:
    - key: "node-role.kubernetes.io/control-plane"
      operator: "Exists"
      effect: "NoSchedule"

resources:
  requests:
    cpu: 200m
    memory: 512Mi
  limits:
    cpu: 500m
    memory: 1Gi

persistence:
  enabled: true
  size: 10Gi
  storageClassName: ""

adminUser: admin
adminPassword: admin123

grafana.ini:
  server:
    root_url: "%(protocol)s://%(domain)s:%(http_port)s/"
  security:
    allow_embedding: true
