apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/lgtmstack-pixel/Grafana
    targetRevision: main
    path: prometheus
    helm:
      valueFiles:
        - values.yaml
      parameters:
        - name: namespaceOverride
          value: prometheus

  destination:
    server: https://kubernetes.default.svc
    namespace: prometheus

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - PruneLast=true
