prometheus:
  ########################################
  # PROMETHEUS SERVER
  ########################################
  server:
    enabled: true
    replicaCount: 1
    retention: "15d"

    extraArgs:
      web.enable-remote-write-receiver: ""

    service:
      type: NodePort
      port: 9090
      nodePort: 30090

    persistentVolume:
      enabled: true
      size: 10Gi
      storageClass: local-path

  ########################################
  # ALERTMANAGER
  ########################################
  alertmanager:
    enabled: true
    service:
      type: NodePort
      nodePort: 30903

  ########################################
  # OTHER COMPONENTS
  ########################################
  pushgateway:
    enabled: false

  kubeStateMetrics:
    enabled: true

  nodeExporter:
    enabled: true

  ########################################


  ########################################
  # PROMETHEUS CONFIG
  ########################################
  serverFiles:
    prometheus.yml:
      scrape_configs:
        ####################################
        # GRAFANA AGENT
        ####################################
        - job_name: "grafana-agent"
          static_configs:
            - targets:
                - grafana-agent.monitoring.svc.cluster.local:12345

        

    ########################################
    # TEST ALERT RULE
    ########################################
    alerting_rules.yml:
      groups:
        - name: test-alerts
          rules:
            - alert: AlertmanagerTest
              expr: vector(1)
              for: 10s
              labels:
                severity: warning
              annotations:
                summary: "Test alert from Prometheus"
                description: "This is a test alert to verify Alertmanager connectivity"

