apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: tempo
  namespace: argocd
spec:
  destination:
    namespace: tempo
    server: https://kubernetes.default.svc
  source:
    repoURL: https://github.com/lgtmstack-pixel/Grafana.git
    path: temp
    targetRevision: main
    helm:
      valueFiles:
        - values.yaml
  project: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
