apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: tempo
  namespace: argocd
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    namespace: tempo
  source:
    repoURL: https://github.com/lgtmstack-pixel/Grafana
    targetRevision: main        # or master, confirm your branch name
    path: tempo                 # folder with Chart.yaml + values.yaml
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
